/**
	Startpage Reworked
	==================

	by Christian Brassat,
*/

/**
	Released under MIT License
	
	Copyright (c) 2010 Christian Brassat
	<http://crshd.cc>

	Permission is hereby granted, free of charge, to any person obtaining a copy
	of this software and associated documentation files (the "Software"), to deal
	in the Software without restriction, including without limitation the rights
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	copies of the Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:
	
	The above copyright notice and this permission notice shall be included in
	all copies or substantial portions of the Software.
	
	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
	THE SOFTWARE.
*/

body {
	background: url('bg.jpg');										/* Page background */
	color: #999;														/* Font color */
	padding: 150px;													/* Padding between link blocks and edge */
	font-family: "Museo", "Helvetica Neue", sans-serif;	/* Font */
	text-shadow: rgba(0,0,0,0.6) 1px 1px 0; /* Text Shadow */
}

a {
	color: #999;														/* Link Color */
	font-size: 11px;												/* Link Size */
	text-decoration: none;									/* Remove underlines */
}

a:hover {
	color: #ddd;														/* Link hover color */
}

.block {
	border-left: 1px solid #999;						/* Left border of link block */
	float: left;
	padding: 1em;														/* Padding around link block */
	width: 160px;														/* Link block width */
}

h1 {
	margin: 0;
	font-size: 1.5em;												/* Title size */
}

ul {
	padding: 0.25em;
}

ul li {
	list-style: none;
	padding: 5px;
}

li img {
	width: 16px;
	border-width: 0;
	margin: 5px;
	vertical-align: middle;
}

#searches {
	position: absolute;											/* Position search box */
	top: 2em;																/*		from top edge */
	right: 2em;															/*		from right edge */
}

#clock {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 2em;
}

form {
	margin-top: 1em;
}

form input {
	background: #333;												/* Background search box */
	background: -webkit-gradient(						/*		gradient for webkit */
		linear,
		left top,
		left bottom,
		from(#222),
		to(#333));
	background: -moz-linear-gradient(				/*		gradient for gecko */
		top,
		#222,
		#333);
	border: 1px solid #444;									/* Border search box */
	-webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;	/* Shadow search box - webkit */
	-moz-box-shadow: rgba(0,0,0,0.2) 0 1px 2px;			/* Shadow search box - gecko */
	box-shadow: rgba(0,0,0,0.2) 0 1px 2px;					/* Shadow search box - generic */
	color: #ddd;														/* Text color search box */
	font-size: 1em;													/* Text size search box */
}

form input:first-child {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 0;
}

form input:last-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0;
}
/* cc BY-NC-SA License :: k3ttc4r :: 2008 :: http://k3ttc4r.deviantart.com */
/* background by Alexander-GG :: http://alexander-gg.deviantart.com */
